* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'SimpsonsFont';
    src: url('/Font/Simpsonfont DEMO.otf') format('opentype');
    font-display: swap;
}

* {
    font-family: 'SimpsonsFont', 'Arial', sans-serif;
    /* Font para toda la aplicacion??? */
}